<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">
    <img src="">

    <!-- Insert Your Form Below -->

    <form method = "post" action = "/yum">
      <p>What's your name?<br><br><input type="text" name="name"></p>
      <p>What's your favorite food?<br><br><input type="text" name="food"></p>
      <input type="submit">

  </body>
</html>
